<img class="image-divider"
       src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/101448/wedding-divider-png-9.png" />
       <br>
<div id="map"></div>
<br><br>
<img class="image-divider"
       src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/101448/wedding-divider-png-9.png" />
       <br>
       <br>
<div id="sec1" class="inlineDiv"> 


	<!--  <div id="city" class="inlineDiv"> -->

    <div class="form-row">
        <input placeholder="Search by City" [(ngModel)]="city" />&nbsp;
        <button type="submit" (click)="SearchCity(city)" class="btn btn-primary">  Submit </button>
    </div>

    
    
   
    
    <div id= "type" class="form-row">
        <select
            class="custom-select"
            name="bloodType"
            required
            (keyup.enter)="SearchBloodType(bloodType)"
            [(ngModel)]="bloodType"
        >
            <!--<option selected></option>-->
            <option [value]="bloodType" *ngFor="let bloodType of bloodTypes">
                {{ bloodType }}
            </option>
        </select>&nbsp;
        <button
            type="submit"
            (click)="SearchBloodType(bloodType)"
            class="btn btn-primary"
        >
            Submit
        </button>
        
    </div>
    
     
    

    <div>
        <div id="avail" class="form-row">
            <select [(ngModel)]="isAvailable">
                <option [value]="true">Available</option>
                <option [value]="false">Not Available</option>
            </select>&nbsp;
            <button
                class="btn btn-primary"
                (click)="SearchAvailability(isAvailable)"
            >
                Search Availability
            </button>
        </div>
    </div>
    
   </div> 
    <br>
    
    
    
    <div id="sec2" class="inlineDiv">
        <div class="form-row">
            <button type="reset" class="btn btn-info" (click)="ResetFilter()">
                Reset Table
            </button>
        </div>
        
        <div class="form-row">
            <button type="submit" class="btn btn-info" >
                Reset Filters
            </button>
        </div>
    </div>
    
    <br>
    
    <div id="sec3" class="inlineDiv">
        <div class="form-row">
            <button class="btn btn-danger" (click)="EmergencyRequest()">
                Send Emergency Request To All
            </button>
        </div>
        
        <div class="form-row">
            <button class="btn btn-danger" >
                Cancel Emergency Request To All
            </button>
        </div>
    </div>
   
<img class="image-divider"
       src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/101448/wedding-divider-png-9.png" />
       <br>
<div class="table-responsive">
<table  style="width: -webkit-fill-available" >
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>City</th>
        <th>Blood Type</th>
        <th>Is available</th>
        <th>Send Request</th>
    </tr>
    <ng-container *ngFor="let donor of donors">
        <tr>
            <td>{{ donor.userId }}</td>
            <td>{{ donor.username }}</td>
            <td>{{ donor.email }}</td>
            <td>{{ donor.city }}</td>
            <td>{{ donor.bloodType }}</td>
            <td>
                <span [hidden]="!donor['available']" class="badge bg-success"
                    >Available</span
                >

                <span [hidden]="donor['available']" class="badge bg-danger"
                    >Unavailable</span
                >
            </td>
            <td>
                <button
                    class="btn btn-info"
                    (click)="SendRequest(donor.username)"
                >
                    Send Request
                </button>
            </td>
            <td></td>
        </tr>
    </ng-container>
</table>
</div>
