<div id="map"></div>
<div class="inlineDiv">
   

   
    <div class="form-row">
        <input placeholder="Search by City" [(ngModel)]="city" />

        <button
            type="submit"
            (click)="SearchCity(city)"
            class="btn btn-primary"
        >
            Submit
        </button>
    </div>
    <div class="form-row">
        <select
            class="custom-select"
            name="bloodType"
            required
            (keyup.enter)="SearchBloodType(bloodType)"
            [(ngModel)]="bloodType"
        >
            <!--<option selected></option>-->
            <option [value]="bloodType" *ngFor="let bloodType of bloodTypes">
                {{ bloodType }}
            </option>
        </select>
        <button
            type="submit"
            (click)="SearchBloodType(bloodType)"
            class="btn btn-primary"
        >
            Submit
        </button>
    </div>

    <div>

      <div class="form-row">
       <select [(ngModel)]="isAvailable">
            <option [value]="true">Available</option>
             <option [value]="false">Not Available</option>
       </select>
       <button class="btn btn-primary" (click)="SearchAvailability(isAvailable)">
            Search Availability
        </button>
    </div>
</div>
    <div class="inlineDiv">
    <div>
        <button type="reset" class="btn btn-info" (click)="ResetFilter()">
           Reset Table
        </button>
     </div>
        <div class="form-row">

        <button class="btn btn-danger" (click)="EmergencyRequest()">
            SendEmergency Request To All
        </button>
    </div>

</div>



    </div>

<table style="width: -webkit-fill-available">
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>City</th>
        <th>Blood Type</th>
        <th>Is available</th>
        <th>Send Request</th>
    </tr>
    <ng-container *ngFor="let donor of donors">
        <tr>
            <td>{{ donor.name }}</td>
            <td>{{ donor.username }}</td>
            <td>{{ donor.email }}</td>
            <td>{{ donor.city }}</td>
            <td>{{ donor.bloodType }}</td>
            <td>
                <span [hidden]="!donor['available']" class="badge bg-success"
                    >Available</span
                >

                <span [hidden]="donor['available']" class="badge bg-danger"
                    >Unavailable</span
                ></td>
            <td><button class="btn btn-info" (click)="SendRequest(donor.username)"> {{donor.username}}</button> <td>
        </tr>
    </ng-container>
</table>
