<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script><div class="container">
    <div class="form">
        <div class="contact-info">
            <h3 class="title">Get in touch</h3>
            <p class="text"> Have any questions? Fill out the form below to contact us by email. </p>
            <div class="info">
                <div class="social-information"> <i class="fa fa-map-marker"></i>
                    <i class="bi bi-geo-alt-fill"></i><p>OBB ON,CANADA</p>
                </div>
                <div class="social-information"> <i class="fa fa-envelope-o"></i>
                    <i class="bi bi-envelope-fill"></i><p>codeavengers@sheridancollege.ca</p>
                </div>
                <div class="social-information"> <i class="fa fa-mobile-phone"></i>
                    <i class="bi bi-telephone-fill"></i><p>+1 905 459-7533</p>
                </div>
            </div>
        </div>
        <div class="contact-info-form"> <span class="circle one"></span> <span class="circle two"></span>
            <form action="#" onclick="return false;" autocomplete="off">
                <h3 class="title">Contact us</h3>
                <div class="social-input-containers"> <input type="text" name="name" class="input" placeholder="Name" /> </div>
                <div class="social-input-containers"> <input type="email" name="email" class="input" placeholder="Email" />  </div>
                <div class="social-input-containers"> <input type="tel" name="phone" class="input" placeholder="Phone" />  </div>
                <div class="social-input-containers textarea"> <textarea name="message" class="input" placeholder="Message"></textarea> </div> <input type="submit" value="Send" class="btn" />
            </form>
        </div>
    </div>
</div>
