
<section id="main" > 
	<app-header></app-header>


	<div class="container">
   	 <!--  <app-donor></app-donor>-->
    	<notifier-container></notifier-container>
  	  <a id="btn1" class="btn btn-secondary" routerLink="InstitutionDonorList">View all Donnors</a>
  	  <a id="btn2" class="btn btn-secondary" routerLink="Register">Register Here</a>
   	 <router-outlet></router-outlet>
   	 
	</div>
	<img class="image-divider"
       src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/101448/wedding-divider-png-9.png" />
       <br>
       
       <h1 >Lets Save a life, if we can! </h1>
       
	<!-- <img id="pic" src="../assets/blood.jpg" width=400px> -->
	



    <footer class="site-footer"> 
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">In today's world a number of online blood bank databases are available,
             however none of them offers the capability for the direct contact between the donor and the recipient.
             Online blood bank is an initiative to decrease the mortality rate 
            in all the countries by providing a source to find blood easily by bring the donor to the recipient 
            either discreetly or with a happiness on face by exchanging some hugs.  </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Services</h6>
            <ul class="footer-links">
              <li><a href="">Research</a></li>
              <li><a href="">careers</a></li>
              <li><a href="">Partners</a></li>
              <li><a href="">FAQs</a></li>
              <li><a href="">Benefits</a></li>
              
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="">About Us</a></li>
              <li><a href="">Contact Us</a></li>
              <li><a href="">Contribute</a></li>
              <li><a href="">Privacy Policy</a></li>
              <li><a href="">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
         <a href="#">Online Blood Bank</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>


</section>

   
	
