<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<div id="app">
  <nav id="col" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#"><img src="src/assets/Capture.PNG" width="55px" height="55px" />Online
      Blood Bank
    </a>

    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showDonorList">
        <a href="/all" class="nav-link" routerLink="all">Admin's Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul>

    <!-- <div id="navi"> -->
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/signin" class="nav-link" routerLink="signin"><i class="bi-box-arrow-in-right"></i>Login</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" (click)="logout()"><i class="bi-box-arrow-in-left"></i>Logout</a>
        </li>
      </ul>
   <!--   </div>-->
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<section id="main">
  <app-header></app-header>


  <div class="container">
    <!--  <app-donor></app-donor>-->
    <notifier-container></notifier-container>
    <!-- <a id="btn1" class="btn btn-secondary" routerLink="all">View all Donors</a>
    <a id="btn2" class="btn btn-secondary" routerLink="register">Register Here</a> -->
    <router-outlet></router-outlet>

  </div>
  <img class="image-divider" src="src/assets/divider.png" />
  <br>




	<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div class="rounded-lg h-64 overflow-hidden">
        <img alt="content" id="img" class="object-cover object-center h-full w-full" src="src/assets/img2.jpg">
      </div>
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
         
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Lets register for a noble cause.</h2>
            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
            <p class="text-base">Be the reason for someone's heartbeat by donating blood.</p>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <p class="leading-relaxed text-lg mb-4">Nobody should have second thoughts if it comes to save someone's life. They why not register and make some time to save someone and their family from grief. Sign up and you will be given a chance to do a noble cause.  </p>
          <a class="text-indigo-500 inline-flex items-center">Learn More
            
          </a>
        </div>
      </div>
    </div>
  </div>
</section>




  <img class="image-divider" src="src/assets/divider.png" />
  <br>
  <h1>Lets save a life, if we can.</h1>

  <!-- <img id="pic" src="../assets/blood.jpg" width=400px> -->




  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">In today's world a number of online blood bank databases are available,
            however none of them offers the capability for the direct contact between the donor and the recipient.
            Online blood bank is an initiative to decrease the mortality rate
            in all the countries by providing a source to find blood easily by bring the donor to the recipient
            either discreetly or with a happiness on face by exchanging some hugs. </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Services</h6>
          <ul class="footer-links">
            <li><a href="">Research</a></li>
            <li><a href="">careers</a></li>
            <li><a href="">Partners</a></li>
            <li><a href="">FAQs</a></li>
            <li><a href="">Benefits</a></li>

          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="src/assets/aboutUs.html">About us</a></li>
            <li><a href="src/assets/contactUs.html">Contact Us</a></li>
            <li><a href="">Contribute</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
            <a href="#">Online Blood Bank</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


</section>
